*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background: url(killian-pham-CWP8X2U2lu8-unsplash.jpg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(8px);
    height: 100vh;
}
.navbar{
    height: 90px;
    width: 100%;
    background:white;
}
.logo{
    width: 200px;
    height: 90px;
    padding: 20 px 100px;
    margin-top: 0;
    
}
.navbar ul{
    float:right;
    margin-right: 20px;
}
.navbar ul li{
    list-style-type: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size:23px;
    padding: 6px 13px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    border-bottom:3px solid black; 
    color: red;
}
.wrapper .centre{
    position :absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}
.centre h1{
    color:white;
    text-align: center;
    font-size: 65px;
    font-weight: bold; 
    width:900px;
    margin-bottom: 23px;
}
.centre h2{
    color:white;
    text-align:center ;
    font-size: 45px;
    font-weight: bold; 
    width:900px;
}
.field {
    /* display: block; */
    height: 260px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.25cm;
    padding-bottom: 0.20cm;
    padding-left: 0.70em;
    padding-right: 0.75em;
    border:5px solid black;
    color:black;
    border-radius:20px;
    background-color:azure;

}
.wrapper .form{
    position :absolute;
    top: 23%;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    font-size: 27px;
    margin-left: 0.6%;
    
}
.h3{
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 77px;
    margin-bottom: 20px;
}
input{
    width: 120%;
    height: 20%;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    border-radius: 10px;
    
}
select{
    width: 128%;
    height: 20%;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    border-radius: 10px;
    
}

.button1{
    margin: 7px;
    padding: 5px 10px;
    margin-left: 70px;
    border-radius: 25px;
    font-size: 17px;
    background-color:orangered;
}
.button2{
    margin: 7px;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 17px;
    background-color:orangered;
}